# KiCad
fp-info-cache
*~
*.bak
*.bck
*.log
*.net
*.raw
*-cache.lib
*-rescue.lib
*.kicad_pcb-bak
_saved_*.sch
file[A-F0-9][A-F0-9][A-F0-9][A-F0-9][A-F0-9][A-F0-9][A-F0-9][A-F0-9].sch

# STM32CubeMX
Build/
Drivers/
Makefile
.mxproject
STM32F103C8Tx_FLASH.ld
startup_stm32f103xb.s
